@model IMS_MVC.Models.ViewUser
@{
    ViewBag.Title = "Change the current district";
}

<h2>Change the current district</h2>


<div class="row">
    <div class="col-md-9">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div>
                <table class="table table-bordered" cellspacing="0" id="MainContent_ctl00" style="border-collapse:collapse;">
                    <tr>
                        <th style="width:200px;">User Name:</th>
                        <td>@Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                    <tr>
                        <th>Current District:</th>
                        <td>@Html.DisplayFor(model => model.DistrictName, new { htmlAttributes = new { @class = "form-control" } })</td>
                    </tr>
                </table>
            </div>
                <table class="table">
                    <tr class="warning">
                        <th style="width: 200px;">
                            Change District
                        </th>
                        <td>
                            @Html.DropDownListFor(model => model.DistrictId, ViewBag.DistrictsName as IEnumerable<SelectListItem>, new { @class = "form-control" })
                        </td>
                    </tr>
                    <tr class="warning">
                        <th></th>
                        <td>
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a class="btn btn-default" href="~/Acc/acc_list_users">Back</a>
                        </td>
                    </tr>
                </table>
        }
    </div>
</div>
