
@{
    ViewBag.Title = "Accountant Dashboard";
}

<h2>Accountant Dashboard</h2>

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/Distributor-report-icon.png" alt="See a list of all Site Engineers and Managers" />
            <div class="caption">
                <h3>User List</h3>
                <p>
                    @Html.ActionLink("Go To", "acc_list_users", "Acc", new { }, new { @class= "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Images/sales-report-icon.png" alt="Manager" />
            <div class="caption">
                <h3>Report</h3>
                <p>
                    @Html.ActionLink("Go To", "acc_list_report", "Acc", new { }, new { @class = "btn btn-primary" })
                </p>
            </div>
        </div>
    </div>
</div>
